* {
    box-sizing: border-box;
  }
#main{
    background-color:rgba(144, 224, 239,.2) ;
}
#container{
    height: 50px;
    margin: 30px;
    border: 2px solid black;
    background-color:#14213d;
    color: #FFF;
    font-size: 2.5rem;
    position: sticky;
    top:10px;
}
li{
    border-bottom: 1px solid #989EA4;
    padding: 5px;
    font: 18px/21px Helvetica, Arial, sans-serif;
    /* z-index: -1; */
}
#phone{
    display: inline-block;
    position: static;
    margin-left:250px ;
    /* z-index: -1; */
}

#name{
    display: inline-block;
    position: absolute;
    font-weight: 1000px;
    z-index: -1;
}
