
*{
    padding: 0%;
    margin: 0%;
}
#outer{
    width: 100vw;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1574610758891-5b809b6e6e2e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8bW91bnRhaW5zJTIwYnklMjBuaWdodHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#inner {
    width: 150px;
    padding: 10px 0px;
    text-align: center;
    border: 3px solid rgb(255, 129, 43);
    background-color: transparent;
    color:  rgb(255, 129, 43);
    font-size: 17px;
    transition: .3s;

    
} 

#inner:hover{
    border-color:yellow ;
    color: white;
    box-shadow: 0px 10px 20px -10px yellow;
    transform: translateY(-5px);
    
}
